body {
    min-height: 100vh;
    background: linear-gradient(110deg, #0F1829, #050812);
    margin: 0px;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(116, 165, 255, 0.1);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3D5AF1 transparent #3D5AF1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}

.logoImg {
    width: 300px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.copyImg{
    width: 50px;
    height: 50px; 
    background-color: white;
    border-radius: 50%;
    border: 2px solid white
}
.downloadImg{
    width: 50px;
    height: 50px; 
    background-color: white;
    border-radius: 50%;
    border: 2px solid white
}
.copy-button {
    border: none;
    background: none;
}

.h1404 {
    font-size: 140px;
    margin-bottom: 0;
    margin-top: 360px;
    color: white;
}

.h2404 {
    margin-top: 0;
    max-width: 700px;
    font-size: 30px;
    width: 90%;
    color: white;
}

.row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(116, 165, 255, .1);
    white-space: nowrap;
    overflow: hidden;
}

.file-pickers {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .file-selection{
    border: none;
    background: none;
    width: 100px;
    height: 85px;
    border-radius: 20%;
  }
  .file-selection > input {
    visibility:hidden;
    width:0;
    height:0
  }
  .file-selection img {
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .file-selection:hover {
    box-shadow: 0 0 10px 5px rgb(191, 194, 218);
    box-sizing: border-box;
    transition: all 1s;
  }
  .picker-button {
    border: none;
    background: none;
    width: 100px;
    height: 85px;
    border-radius: 20%;
  }
  .picker-button img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .picker-button:hover {
    box-shadow: 0 0 10px 5px rgb(191, 194, 218);
    box-sizing: border-box;
    transition: all 1s;
  }

.secondGeneralDiv {
    width: 100px;
    right: 150px;
    position: absolute;
}

.firstDiv {
    width: 200px;
    height: 125px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.textOfDownload{
    font-size: 18px;;
}

